langchain==0.3.13
langchain-community==0.3.13
langchain-openai==0.2.14
# langchain-huggingface==0.1.2
chromadb==0.6.1
pysqlite3-binary==0.5.4
# transformers==4.47.1
gradio==5.9.1
pypdf==5.1.0
# azureml-core==1.59.0
fastapi==0.115.6
# nest-asyncio==1.6.0
# pyngrok7.2.2